{% extends 'app_music/_base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'app_music/index.css' %}">

<div class="contents-container">
    <h3>학습완료 목록</h3>
    <ol class="small-contents done-contents">
        <li>[C 언어] 자료구조</li>
        <li>[C 언어] 알고리즘</li>
        <li>[python] Data management with numpy, pandas</li>
        <li>[python] GUI Application with PyQT5</li>
        <li>[python] tensorflow Deep learning Framework</li>
        <li>[python] Pytorch Deep learning Framework</li>
        <li>[git]Configruation Management</li>
        <li>[AWS]EC2(elastic Cloud Computing) Management</li>
        <li>[AWS]S3(Simple Storage Service) Management</li>
        <li>[AWS]RDB(relation DataBase) Migration(PostgreSQL)</li>
        <li>[AWS]Lambda Event Handler Trigger Design by python</li>
    </ol>
    <hr>
    <h3>학습 진행할 목록</h3>
    <ul class="small-contents todo-contents">
        <li>[Java] 기초</li>
        <li>[Java] Spring Web Application Framework</li>
        <li>[python] Django Web Application Framework</li>
        <li>[DB] SQL 심화</li>
        <li>[javascript] 기초</li>
        <li>[HTML + CSS]Frontend 기초</li>
        <li>[React] Frontend 심화</li>
    </ul>
</div>

{% endblock content %}