header{
    display: block;
    position: relative;
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    padding : 0 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding : 0 20px;
    background-color: rgb(54, 54, 54);
}

nav .nav-logo{
    width: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0 12px;
}

.nav-links ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    /* margin: auto; */
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}