{% load static %}

<link rel="stylesheet" href="{% static 'app_music/_header.css' %}">

<header>
    <nav>
        <!-- <a href="#"><img class="nav-logo" src="{% static 'images/QBIC_icon.png' %}" alt=""></a> -->
        <img class="nav-logo" src="{% static 'images/QBIC_icon.png' %}" alt="">
        <a href="#" class="nav-title">Music Application</a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">COURSE</a></li>
                <li><a href="#">BLOG</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>
</header>

<script src="{% static 'app_music/_header.js' %}"></script>