{% extends 'app_music/_base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'app_music/index.css' %}">

<main>
    <div class="current_screen_info" id="currentScreenInfo"></div>
    <div class="card-area">
        <div class="row">
            <a class="card" href="#">
                Play Music <i class="fa-solid fa-guitar"></i>
            </a>
            <a class="card" href="#">
                Listen Music <i class="fa-solid fa-music"></i>
            </a>
            <a class="card" href="#">
                Compose Music <i class="fa-solid fa-pen"></i>
            </a>
        </div>
    </div>
    <div class="study-contents">
        <div class="done-contents">
            <h3>학습완료 목록</h3>
            <details>
                <summary>세부정보</summary>
                <ol class="small-contents">
                    <li>[C 언어] 자료구조</li>
                    <li>[C 언어] 알고리즘</li>
                    <li>[C 언어] MCU Firmware</li>
                    <li>[Signal Processing] FFT Analysis</li>
                    <li>[Signal Processing] Image processing</li>
                    <li>[Signal Processing] ISP Tuning</li>
                    <li>[python] Data management with numpy, pandas</li>
                    <li>[python] GUI Application with PyQT5</li>
                    <li>[tensorflow] Computing vision with CNN</li>
                    <li>[pytorch] Computing vision with U-net</li>
                    <li>[python] Django Web Application Framework</li>
                    <li>[Web Server] Nginx(Web server), gunicorn(middleware)</li>
                    <li>[HTML + CSS] Frontend 기초</li>
                    <li>[DB] with Sqlite3</li>
                    <li>[javascript] 기초</li>
                    <li>[CI/CD] Configuration Management with git</li>
                    <li>[CI/CD] Migration with jenkins</li>
                    <li>[Cloud(AWS)] EC2(elastic Cloud Computing) Management</li>
                    <li>[Cloud(AWS)] S3(Simple Storage Service) Management</li>
                    <li>[Cloud(AWS)] RDB(relation DataBase) Design</li>
                    <li>[Cloud(AWS)] Lambda Event Handler Trigger Design</li>
                </ol>
            </details>
        </div>
        <hr>
        <div class="todo-contents">
            <h3>학습 진행할 목록</h3>
            <details>
                <summary>세부정보</summary>
                <ul>
                    <li>[Java] 기초</li>
                    <li>[Java] Spring Web Application Framework</li>
                    <li>[DB] SQL 심화</li>
                    <li>[javascript] 심화</li>
                    <li>[HTML + CSS] Frontend 심화</li>
                    <li>[React] 기초 </li>
                    <li>[Container] Docker</li>
                    <li>[Orchestration] kubernetes</li>
                </ul>
            </details>
        </div>
    </div>
</main>

<script src="{% static 'app_music/index.js' %}"></script>

{% endblock content %}