footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    
}

.footer-container{
    display: block;
    padding: 10px 50px;
}

.footer-container h3{
    padding: 0px;
    margin: 0px;
    color:rgb(82, 82, 82);
}

.footer-container p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color:rgb(138, 138, 138);
}
