.current_screen_info{
    padding: 10px;
    color:grey;
}

.card-area{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(226, 152, 152);
}

.row{
    display: flex;
    justify-content: space-between;
    margin : 0 50px;
    align-items: center;
    min-height: 100px;
}

.row .card{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    align-items: center;
    font-size: 14px;
    min-width: 140px;
    padding : 10px;
    margin : 10px;
    color: white;
    text-decoration: none;
}

.row .card:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

@media(max-width: 768px){
    .row{
        flex-direction: column;
        padding : 25px 0;
    }
}

.study-contents{
    margin: 20px;
}

.done-contents{
    margin: 50px 0;
    color:#888888;
}

.small-contents{
    font-size: 12px;
}

.todo-contents{
    margin: 50px 0;
}

.todo-contents li{
    /* font-weight: bold; */
    font-size:16px;
}

details[open] summary~*{
    animation: sweep 0.5s;
}

@keyframes sweep {
    0%      {opacity: 0; transform: translateX(-10px)}
    100%    {opacity: 1; transform: translateX(0)}
}